* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
}

.answer {
  display: flex;
  flex-direction: row;
  width: 300px;
}

.answer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.answer-1 {
  display: flex;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  background-color: #1100ff;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.answer-2 {
  display: flex;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  background-color: #1b06f8;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.answer-3 {
  display: flex;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.answer-4 {
  display: flex;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}
